.---card{
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
.---card img{
    width: 95%;
    height: 200px;
    border-radius: 16px;
}
.---card h1{
    color: blue;
    text-align: center;
}
.---card span {
    color: rgb(153, 152, 152);
    font-size: 16px;
    text-align: center;
}
.---card p{
    text-align: center;
    color: rgb(102, 101, 101);
    
}
.---card .icons{
    display: flex;
    gap: 1rem;
}